.container{
    margin-top: 80px;
}

.producto{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 40px;
}

.padre{
    display: flex;
    flex: 1;
}

.h2{
    width: calc(100% - 80px);
    font-size: 30px;
    margin-left: 40px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.total{
    width: 25%;
    height: min-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(129, 129, 129);
}

.total button{
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    border: none;
}